<div class="main">
  <div class="inner">
    <%# 現在のお題を表示 %>
    <%= render 'shared/theme_card' %>
    <%# 現在の俳句を表示 %>
    <div class="haiku__wrapper">
      <h2 class="page-heading"><%= "現在の俳句 : #{@haiku.content} (#{@haiku.content_sub})" %></h2>
    </div>
    <%# 俳句の編集フォーム %>
    <div class="form__wrapper">
      <h2 class="page-heading"><%= "俳句を編集" %></h2>
        <%= render 'form' %>
    </div>
  </div>
</div>