<div class="main">
  <div class="inner">
    <%# 現在のお題を表示 %>
    <%= render 'shared/theme_card' %>
    <%# 投句されていないことを表示 %>
    <div class="haiku__wrapper">
      <h2 class="page--heading"><%= "現在の俳句" %></h2>
      <div class="haiku__display">投句されていません</div>
    </div>
    <%# 俳句の投稿フォーム %>
    <div class="form__wrapper">
      <h2 class="page--heading"><%= "俳句を作る" %></h2>
        <%= render 'form' %>
    </div>
  </div>
</div>