/* リセットCSS */
* {
  box-sizing: border-box;
  -webkit-appearance: none;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Serif JP', serif;
  color: #3b4043;
}


li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

.content__body {
  padding: 100px 20px 15px;
  background-color: #CECFC0;
}

/* ヘッダー */

.header {
  position:fixed;
  background-color: #A574B0;
  width: 100%;
  padding: 15px 0;
  z-index: 100;
}
.inner {
  width: 100%;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  margin-left: 10px;
}

.nav__right {
  padding-right: 10px;
  display: flex;
}

.cancel__nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #ffffff;
  text-decoration: none;
  user-select: none;
  background: #959296;
  border: 1px #959296 solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.cancel__nav__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.nav__btn{
  padding: 0.4em 1.6em;
  font-size: 1.6em;
  color: #EDF0AF;
  text-decoration: none;
  user-select: none;
  border: 1.5px #EDF0AF solid;
  border-radius: 3px;
  transition: 0.4s ease;
  background: #A574B0;
  margin-left: 10px;
}
.nav__btn:hover{
  color: #EDF0AF;
  background: #d2b7d8;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 1.6em;
  color: #EDF0AF;
  text-decoration: none;
  user-select: none;
  vertical-align: center;
}
.nav__logout:hover{
  opacity: 0.5;
}

/* フォーム周り */
.form__wrapper{
  min-height: calc(100vh - 630px);
}

.user__form__wrapper{
  min-height: calc(100vh - 161px);
}

.theme__form__wrapper{
  min-height: calc(100vh - 161px);
}

.form__haiku {
  width: 350px;
}

.form__text {
  width: 50%;
}

.field{
  margin: 10px 0;
}

.haiku__wrapper {
  margin-top: 30px;
  text-align: center;
}

.haiku__display{
  background:#FFFFFF;
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border: #A574B0 0.5rem solid;
  margin-bottom: 20px;
}

.select-box {
  height: 30px;
  width: 110px;
  background-color: #EDF0AF;
  padding-left: 20px;
}

.actions{
  margin-bottom: 40px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #EDF0AF;
  text-decoration: none;
  user-select: none;
  background: #A574B0;
  border: 1px #A574B0 solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* メイン */
.field-heading{
  width: 45%;
  background: white;
  margin: 0 auto;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
  padding: 0.7rem 1.5rem;
  -webkit-box-shadow: 0 2px 14px rgba(0, 0, 0, .1);
  box-shadow: 0 2px 14px rgba(0, 0, 0, .1);
}
.field-heading:before,
.field-heading:after{
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  content: '';
  background-image: -webkit-linear-gradient(315deg, #704308 0%, #ffce08 40%, #e1ce08 60%, #704308 100%);
  background-image: linear-gradient(135deg, #704308 0%, #ffce08 40%, #e1ce08 60%, #704308 100%);
}
.field-heading:before{
  top: 0;
}
.field-heading:after{
  bottom: 0;
}

.past-field-heading{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  background: white;
  margin: 0 auto;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
  padding: 0.7rem 1.5rem;
  -webkit-box-shadow: 0 2px 14px rgba(0, 0, 0, .1);
  box-shadow: 0 2px 14px rgba(0, 0, 0, .1);
}
.past-field-heading:before,
.past-field-heading:after{
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  content: '';
  background-image: -webkit-linear-gradient(315deg, #704308 0%, #ffce08 40%, #e1ce08 60%, #704308 100%);
  background-image: linear-gradient(135deg, #704308 0%, #ffce08 40%, #e1ce08 60%, #704308 100%);
}
.past-field-heading:before{
  top: 0;
}
.past-field-heading:after{
  bottom: 0;
}
.past_page_heading {
  font-size: 30px;
}
.img__link__allow{
  width: 23px;
  height: 23px;
  vertical-align: 0;
}
.link__allow{
  margin-left: 15px;
}

.greeting{
  margin-bottom: 20px;
}
.greeting__link{
  text-decoration: underline;
}
.page-heading {
  font-size: 30px;
  margin-bottom: 28px;
}
.card__wrapper {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 630px);
  text-align: center;
}

.card {
  width: 90%;
  text-align: center;
  border-radius: 10px;
  margin: 15px auto 0;
  background: #EDF0AF;
  padding: 30px;
}
.card__img {
  text-align: center;
  padding: 20px;
}
.card__title {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
}
.card__body {
  margin-top: 10px;
  font-size: 30px;
	font-weight:bold;
}
.card__summary {
  font-size: 16px;
}
.card__user {
  display: block;
  font-size: 12px;
  color: #999;
  text-align: right;
  text-decoration: underline;
}

.main_field_wrapper{
  margin-bottom: 30px;
  text-align: center;
}

.touku___vote__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 1.6em;
  color: #EDF0AF;
  text-decoration: none;
  user-select: none;
  border: 1.5px #EDF0AF solid;
  border-radius: 3px;
  transition: 0.4s ease;
  background: #A574B0;
  margin: 0px auto;
}
.touku___vote__btn:hover{
  color: #EDF0AF;
  background: #d2b7d8;
}

.attention{
  color: red;
  margin-bottom: 10px;
}

/* お題ページ */
.theme__action{
  text-align: center;
}
.theme__nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 1.6em;
  color: #EDF0AF;
  text-decoration: none;
  user-select: none;
  border: 1.5px #EDF0AF solid;
  border-radius: 3px;
  transition: 0.4s ease;
  background: #A574B0;
  margin-top: 20px;
}
.theme__nav__btn:hover{
  color: #EDF0AF;
  background: #d2b7d8;
}

/* 詳細ページ */
.haiku__hedding{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.haiku__user{
  display: block;
  font-size: 16px;
  color: #999;
  text-align: center;
  text-decoration: underline;
}
.haiku__image{
  width: 40%;
  margin: 0 auto;
  padding: 16px 0;
}
.haiku__detail{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;
}
.detail__title{
  font-size: 20px;
  font-weight: bold;
}
.haiku__manage{
  display: flex;
  justify-content: center;
  padding-top: 16px;
}
.haiku__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}
.haiku__btn:hover{
  color: #fff;
  background: #999;
}

.haiku__comments{
  background-color: #f6f6f6;
  padding: 20px;
  margin: 28px 0 40px 0;
}

.comments_lists{
  padding-left: 20px;
}

.comments_list{
  list-style-type: square;
  padding-bottom: 5px;
}

.comment_user{
  font-size: 16px;
  color: #999;
  text-decoration: underline;
}

/* 投票ページ */
.vote__wrapper{
  margin: 0 auto;
  min-height: calc(100vh - 200px);
  width: 90%;
  margin-top: 20px;
}
.vote {
  background: #FFFFFF;
  display: flex;
  align-items: center;
  border: black 1px solid;
  margin-bottom: 3px;
  padding: 7px 0;
}
.vote__body{
  margin-left: 5px;
  width: 450px;
}
.vote_btn {
  height: 25px;
  margin: 0 10px;
}

/* 結果ページ */
.result{
  background: #FFFFFF;
  display: flex;
  align-items: center;
  border: black 1px solid;
  margin-bottom: 3px;
}
.haiku__result {
  display: flex;
}
.haiku__rank{
  color: red;
  margin: 0 10px;
}
.haiku__points{
  margin-right: 10px;
}
.finished__user {
  display: block;
  font-size: 12px;
  color: #999;
  text-align: left;
  text-decoration: underline;
}
.haiku__body{
  margin-bottom: 15px;
}
.voted__users__wrapper{
  text-align: center;
  margin: 0 auto;
  min-height: calc(100vh - 200px);
  width: 60%;
  margin-top: 20px;
}
.voted__user{
  background: #FFFFFF;
  align-items: center;
  border: black 1px solid;
  margin-bottom: 3px;
}
.voted__user__body{
  padding: 5px 10px;
  text-align: left;
  font-size: 20px;
}
.voted__num{
  font-size: 18px;
  width: 60px;
  border-radius: 100vh;
  margin: 0 auto;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #A22041;
  color: white;
}

/* ユーザーページ */
.user__wrapper{
  min-height: calc(100vh - 161px);
  text-align: center;
}
.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 55%;
  margin: 0 auto 20px;
}

.table__col1{
  text-align: left;
  font-weight: bold;
  background: #FFFFFF;
  border-collapse: collapse;
  border: 1.5px solid #5A544B;
  width: 30%;
  padding: 8px;
}
.table__col2{
  text-align: left;
  border: 1.5px solid #5A544B;
  background: #edece3;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}
.user__card {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.prof__nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 1.6em;
  color: #EDF0AF;
  text-decoration: none;
  user-select: none;
  border: 1.5px #EDF0AF solid;
  border-radius: 3px;
  transition: 0.4s ease;
  background: #A574B0;
  vertical-align: center;
  margin-bottom: 20px;
}
.prof__nav__btn:hover{
  color: #EDF0AF;
  background: #d2b7d8;
}
/* フッター */

.footer {
  background-color: #5A544B;
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}

.footer2 {
  background-color: #68645e;
  padding: 7px 20px;
  display: flex;
  justify-content: space-between;
}

.footer__menu {
  text-decoration: underline;
  color: #FFFFFF;
  font-size: 13px;
}

 /* ルールページ */
.rule__wrapper{
  background: #FFFFFF;
  margin: 0 auto;
  width: 80%;
  border: #000000 1px solid;
  min-height: calc(100vh - 300px);
}
.rule__header{
  background: #e6e6e6;
  border-bottom: #000000 1px solid;
  padding: 5px;
}

.rule__title {
  font-size: 28px;
}
.rule__sub__title{
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 3px;
}

.rule__content__wrapper{
  padding: 15px 30px;
}
.rule__attention{
  color: red;
}

.links{
  display: block;
}
.rule__link{
  display: block;
  text-decoration: underline;
  color: blue;
  margin-bottom: 2px;
}

/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 30px;
  }
  .card {
    width: 90%;
    margin-bottom: 40px;
  }
  .haiku_image{
    width: 60%;
  }
  .haiku{
    font-size: 18px;
  }
  .notice {
    width: 90%;
    border-radius: 100vh;
    margin: 0 auto;
    background-color: #9FCD76;
    color: white;
    text-align: center;
  }
  .alert {
    width: 90%;
    border-radius: 100vh;
    margin: 0 auto;
    background-color: #A22041;
    color: white;
    text-align: center;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .page-heading {
    font-size: 30px;
  }
  .card {
    width: 100%;
    margin-bottom: 40px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .haiku_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
  .haiku{
    font-size: 15px;
  }
  .notice {
    width: 90%;
    border-radius: 100vh;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: #9FCD76;
    color: white;
    text-align: center;
  }
  .alert {
    width: 90%;
    border-radius: 100vh;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: #A22041;
    color: white;
    text-align: center;
  }
}

 /* フラッシュメッセージ */
.notice {
  width: 90%;
  border-radius: 100vh;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: #9FCD76;
  color: white;
  text-align: center;
}

.alert {
  width: 90%;
  border-radius: 100vh;
  margin: 10px auto;
  background-color: #A22041;
  color: white;
  text-align: center;
}

.error-alert{
  background: #A22041;
  padding: 5px;
  color: #FFFFFF;
}