<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        <%= "お待ちしておりました、#{current_user.name} 様" %>
      </div>
    <% end %>
    <div class="main_field_wrapper">
      <%= render partial: 'field', locals: { field: @field } %>
    </div>
    <div class="card__wrapper">
      <h2 class="field-heading">過去のお題</h2>
      <%= render partial: 'field', collection: @fields %> 
    </div>
  </div>
</main>