<div class="card__wrapper">
  <% if Field.exists?(status: :touku) %>
    <h2 class="field-heading">過去のお題</h2>
    <%= render partial: 'field', collection: @fields %>
  <% else %>
    <h2 class="page-heading">過去のお題はまだありません</h2>
  <% end %>
</div>