<main class="main">
  <div class="inner">
    <div class="rule__wrapper">
      <div class="rule__header">
        <h2 class="rule__title">遊び方</h2>
      </div>
      <div class="rule__content__wrapper">
        <p>『投句るうむ』は対戦型の俳句投稿サイトです。それぞれのユーザーが詠み人であり評価者です。</p>
        <p>投句期間 : お題に対して俳句を一つだけ投稿することができます。</p>
        <p>投票期間 : 素晴らしいと思った俳句に投票することができます。</p>
        <p>投票期間終了後、得票数に応じて順位が発表されます。</p>
        <h2 class="rule__sub__title">お題の設定</h2>
        <p class="rule__attention">投句するにはお題を設定する必要があります。</p>
        <p>設定されたお題は、任意の回で一位を獲得した際に次の回のお題となります。</p>
        <p>一位を獲得した場合のみ、次回投句の際にお題を再度設定する必要があります。</p>
        <p>設定するお題の画像は自分で撮影されたもの、もしくはフリー画像を推奨いたします。</p>
        <p>＜おすすめフリー画像サイト＞</p>
        <div class="links">
          <%= link_to "Pixabay", "https://pixabay.com/ja/", target: :_blank, rel: "noopener noreferrer", class: :rule__link %>
          <%= link_to "PhotoAC", "https://www.photo-ac.com/", target: :_blank, rel: "noopener noreferrer", class: :rule__link %>
          <%= link_to "タダピク", "https://www.tadapic.com/", target: :_blank, rel: "noopener noreferrer", class: :rule__link %>
        </div>
        <h2 class="rule__sub__title">投句／投票する</h2>
        <p>トップページには、現在のお題が表示されています。</p>
        <p>投句期間→「投句する」ボタン</p>
        <p>投票期間→「投票する」ボタン</p>
        <p>によって各ページに移動することができます。</p>
        <p class="rule__attention">投票に関しまして、自分の回答には投票しないようお願いいたします。</p>
        <p>投句／投票期間は原則1週間です（サイトリリース初期については、試運用のため期間を変更する可能性があります）。</p>
      </div>
    </div>
  </div>
</main>